@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font: var(--font-l);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.app button {
    width: 150px;
    height: 30px;
    font: var(--font-m)
}
