.app.dark {
    --bg-color: #6f737a;
    --inverted-bg-color: #D9C49A;
    --primary-color: #313131;
    --secondary-color: #E3EDFF;
    --inverted-primary-color: #8C8065;
    --inverted-secondary-color: #D9CAAB;
}