.app.dark {
    --bg-color: #1F2024;
    --inverted-bg-color: #A68F97;
    --primary-color: #38363d;
    --secondary-color: #969696;
    --third-color: #004F4D;
}

/* Color Theme Swatches in Hex 
$Gremlins-Under-The-Bed-1-hex: #004F4D;
$Gremlins-Under-The-Bed-2-hex: #1F2024;
$Gremlins-Under-The-Bed-3-hex: #4B4952;
$Gremlins-Under-The-Bed-4-hex: #79717A;
$Gremlins-Under-The-Bed-5-hex: #A68F97;
*/