.app.light {
    --bg-color: #D9C49A;
    --inverted-bg-color: #6f737a;
    --primary-color: #313131;
    --secondary-color: #D9CAAB;
    --inverted-primary-color: #61708C;
    --inverted-secondary-color: #E3EDFF;
}
